footer
{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.container 
{
	display: grid;
	grid-template-columns: auto auto;
	gap: 10px;
}

.goHome
{
	background-color: lightgray;
	border-radius: 3px;
	padding: 5px 5px;
}

.trigger
{
	max-width: 50%;
	height: auto;
}
.thumbnail
{
	margin-left: auto;
	margin-right: auto;
	padding-top: 5px;
	border-radius: 5px;
	max-width: 100%;
	height: auto;
}

.thumbnail:hover
{
	box-shadow: 0 0 2px 1px rgba(0,140,186,0.5);
}

.container 
{
	display: grid;
	grid-template-columns: auto auto;
	gap: 10px;
}

.modal
{
	visibility: hidden;
	position: center;
	left: 0;
	top: 0;
	width: auto;
	height: 100%;
	background-color: rgb(0,0,0,0.5);
	opacity: 0;
	transform: scale(1.1);
}


.modal-content
{
	position: absolute;
	background-size: cover;
	border-radius: 8px;
	margin: auto;
	padding: 20px;
	width: auto;
}



.show-modal
{
	opacity: 1;
	visibility: visible;
	transform: scale(1.0);
	transition: visible 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.close-btn
{
	float: right;
	color: lightgray;
	font-size: 20px;
	font-weight: bold;
}

.close-btn:hover
{
	background-color: blue;
}
