header
{
}

footer
{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: blue;
    color: white
    text-align: center;
}

main
{
}

.container 
{
	display: grid;
	grid-template-columns: auto auto;
	gap: 10px;
}


.item-0
{
}

.item-1
{
}

.item-2
{
}

.item-3
{
}
